<nz-content>
  <div>
    <article nz-typography>
      <h1 nz-typography>Indecon Service consumer</h1>
      <p nz-typography>
        This project based on Angular 11, consumes an SpringBoot backend to get all the info
        related to different economics indicators from the <a href="https://indecon.site/">Indecon.site</a> api.
      </p>
      <p nz-typography>
        This backend expose the details of they Rest services through a Swagger interface. Then the angular project
        relies on <a href="https://www.npmjs.com/package/ng-swagger-gen">ng-swagger-gen</a> utility to create
        dynamically services interfaces to consume.
      </p>
      <p nz-typography >
        For the look&feel i'm using <a href="https://ng.ant.design/">ng-zorro</a>.
      </p>
    </article>
  </div>
</nz-content>
